<!DOCTYPE html>
<html>
<head>
  <style>

    #pg-jumbotron {
        background-image: url("/assets/images/pg2.jpg");
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .list-group-item {
        color: white;
      /*  width: 200px; */
        float: right;
        text-align: center;
    }

    .list-item-odd {
        background-color: rgb(255,0,0);
    }

    .list-item-even {
        background-color: rgb(2, 117, 216);
    }
  </style>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-3" style="padding-left: 10px">
      <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action list-item-odd">PG 2</a>
          <a href="#" class="list-group-item list-group-item-action list-item-even">Lebron 15</a>
          <a href="#" class="list-group-item list-group-item-action list-item-odd">Vans SK8 Hi</a>
          <a href="#" class="list-group-item list-group-item-action list-item-even">Yeezy Boost 350 V2</a>
          <a href="#" class="list-group-item list-group-item-action list-item-odd">Ultra Boost</a>
      </div>
    </div>

    <div class="col-9">
      <div class="jumbotron jumbotron-fluid" id="pg-jumbotron">
          <div class="container">
              <h1 class="display-3" style="color: #6CA4D5">Paul George X Play Station</h1>
              <p class="lead" style="color: #E50915">The Oklahoma City star pairs with PlayStation to create a one of a kind shoe.</p>
          </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
