<!DOCTYPE html>
<html>
<head>
  <style>

  #main-jumbotron {
      background-image: url("/assets/images/nmd1.jpg");
      background-position: 0%, 25%;
      background-repeat: no-repeat;
      background-size: 100%, 100%;
  }

  </style>
</head>

<body>

<div class="jumbotron" id="main-jumbotron">
    <h1 class="display-3" style="color: red">Kicks Looks</h1>
    <p class="lead" style="color: white">Helping you find the perfect shoe for your style and performance needs.</p>
    <hr class="my-4">
    <p style="color: white; padding-bottom: 12px">Take a look at our latest <a href="#">review</a>.</p>
    <p class="lead">
    </p>
</div>

</body>
</html>
