<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


    <style>
        #navbar-logo {
            border-style: solid;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 5px;
            border-color: #0275D8;
        }
    </style>
  </head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <h1 class="navbar-brand mb-0" id="navbar-logo">Kicks Looks</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="/index.php">Home</a>
              <a class="nav-item nav-link" href="/leave-a-review.php">Leave a Review</a>
              <a class="nav-item nav-link" href="#">Photos</a>
              <a class="nav-item nav-link" href="https://www.youtube.com/user/KicksUSAPhilly" target="_blank">Youtube Channel</a>

              <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button type="button" class="btn btn-primary">Search</button>
              </form>
  </nav>
</body>
</html>
